wertgarantie-selection-embedded {
    --wertgarantie-selection-embedded-font-family: Roboto, sans-serif;

    /* background image color fading for every second product */
    --wertgarantie-popup-product-background-primary: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #000),
    linear-gradient(to top right, rgb(1, 57, 101), rgba(134, 114, 114, 0));

    /* background image color fading for every second product */
    --wertgarantie-popup-product-background-secondary: linear-gradient(to bottom right, rgba(81, 61, 61, 0), rgba(254, 207, 0, 0.6)),
    linear-gradient(to top right, rgba(0, 0, 0, 0), #000);

    --wertgarantie-popup-title-color: rgb(1, 57, 101);
    --wertgarantie-popup-dark-button-background-color: rgb(1, 57, 101);
}

wertgarantie-information-popup {
    /* background image color fading for every second product */
    --wertgarantie-popup-product-background-primary: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #000),
    linear-gradient(to top right, rgb(1, 57, 101), rgba(134, 114, 114, 0));

    /* background image color fading for every second product */
    --wertgarantie-popup-product-background-secondary: linear-gradient(to bottom right, rgba(81, 61, 61, 0), rgba(254, 207, 0, 0.6)),
    linear-gradient(to top right, rgba(0, 0, 0, 0), #000);

    --wertgarantie-popup-title-color: rgb(1, 57, 101);
    --wertgarantie-popup-dark-button-background-color: rgb(1, 57, 101);
}