wertgarantie-confirmation {
    --wertgarantie-confirmation-font-family: 'Roboto', sans-serif;
    --wertgarantie-confirmation-component-margin: 0 0 15px 0;
    --wertgarantie-confirmation-box-border-right: none;
    --wertgarantie-confirmation-box-border-left: none;
    --wertgarantie-confirmation-box-border-top: none;
    --wertgarantie-confirmation-box-border-bottom: 2px dotted #ddd;
    --wertgarantie-confirmation-box-background-color: white;
    --wertgarantie-confirmation-box-title-padding: 9px 0 20px 0;
    --wertgarantie-confirmation-box-title-color: rgb(1, 57, 101);
    --wertgarantie-confirmation-box-title-margin: 0;
    --wertgarantie-confirmation-info-padding: 0;
    --wertgarantie-confirmation-checkbox-column-padding: 0 0 0 0;
    --wertgarantie-confirmation-header-margin: 20px 0 0 0;
    --wertgarantie-confirmation-product-panel-margin: 0 0 0 15px;

    --wertgarantie-confirmation-product-background-primary: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #000),
    linear-gradient(to top right, rgb(1, 57, 101), rgba(81, 61, 61, 0));
    --wertgarantie-confirmation-product-background-secondary: linear-gradient(to bottom right, rgba(81, 61, 61, 0), rgba(254, 207, 0, 0.6)),
    linear-gradient(to top right, rgba(0, 0, 0, 0), #000);
}