.checkoutBtn {
    font-size: 0.9em;
    cursor: pointer;
    background: none;
    outline: none;
    padding: 1em 3em 1em 3em;
    margin: 3px;
    border: 2px solid var(--wertgarantie-popup-dark-button-background-color, rgb(32, 32, 32));
    background-color: var(--wertgarantie-popup-dark-button-background-color, rgb(32, 32, 32));
    color: var(--wertgarantie-popup-dark-button-text-color, rgb(244, 244, 244));
    transition: all 0.4s;
}

#demo-html-form {
    margin-bottom: 15px;
}

.confirmationStylingExample1 {
    --wertgarantie-confirmation-font-family: "Comic Sans MS", sans-serif;
    --wertgarantie-confirmation-background-color: grey;

    --wertgarantie-confirmation-header-background-color: rgba(255, 108, 0, 0.61);
    --wertgarantie-confirmation-header-icon-background-color: #6e3100;
    --wertgarantie-confirmation-header-icon-fill-color: lightgrey;

    --wertgarantie-confirmation-header-title-font-weight: 800;
    --wertgarantie-confirmation-header-title-font-size: 0.8em;
    --wertgarantie-confirmation-header-title-line-height: 1.3em;
    --wertgarantie-confirmation-header-title-text-transform: uppercase;

    --wertgarantie-confirmation-body-subtitle-font-weight: 800;
    --wertgarantie-confirmation-body-subtitle-font-size: 0.9em;
    --wertgarantie-confirmation-body-subtitle-text-transform: none;

    --wertgarantie-confirmation-product-panel-text-color: #e7e7e7;
    --wertgarantie-confirmation-product-background-primary: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #000),
        linear-gradient(to top right, #006EFF, rgba(81, 61, 61, 0));
    --wertgarantie-confirmation-product-background-secondary: linear-gradient(to bottom right, rgba(44, 25, 25, 0), rgba(255, 145, 0, 0.6)),
        linear-gradient(to top right, #000, rgba(0, 0, 0, 0.3));
}

.confirmationStylingExample1 {
    --wertgarantie-confirmation-font-family: "Comic Sans MS", sans-serif;
    --wertgarantie-confirmation-text-color: #444444;
    --wertgarantie-confirmation-background-color: lightgrey;

    --wertgarantie-confirmation-header-background-color: rgba(255, 108, 0, 0.61);
    --wertgarantie-confirmation-header-icon-background-color: #6e3100;
    --wertgarantie-confirmation-header-icon-fill-color: lightgrey;

    --wertgarantie-confirmation-header-title-font-weight: 800;
    --wertgarantie-confirmation-header-title-font-size: 0.8em;
    --wertgarantie-confirmation-header-title-line-height: 1.3em;
    --wertgarantie-confirmation-header-title-text-transform: uppercase;

    --wertgarantie-confirmation-body-subtitle-font-weight: 800;
    --wertgarantie-confirmation-body-subtitle-font-size: 0.9em;
    --wertgarantie-confirmation-body-subtitle-text-transform: none;
    --wertgarantie-confirmation-product-tab-background-color-hover: #dcdcdc;
    --wertgarantie-confirmation-product-tab-background-color-selected: #ececec;

    --wertgarantie-confirmation-product-panel-text-color: #e7e7e7;
    --wertgarantie-confirmation-product-background-primary: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #000),
    linear-gradient(to top right, #006EFF, rgba(81, 61, 61, 0));
    --wertgarantie-confirmation-product-background-secondary: linear-gradient(to bottom right, rgba(44, 25, 25, 0), rgba(255, 145, 0, 0.6)),
    linear-gradient(to top right, #000, rgba(0, 0, 0, 0.3));
}

.confirmationStylingExample2 {
    --wertgarantie-confirmation-background-color: #85a484;
    --wertgarantie-confirmation-text-color: yellow;

    --wertgarantie-confirmation-header-background-color: rgba(170, 255, 165, 0.61);
    --wertgarantie-confirmation-header-icon-background-color: #1bff00;
    --wertgarantie-confirmation-header-icon-fill-color: yellow;

    --wertgarantie-confirmation-header-title-font-weight: 800;
    --wertgarantie-confirmation-header-title-font-size: 0.8em;
    --wertgarantie-confirmation-header-title-line-height: 1.3em;
    --wertgarantie-confirmation-header-title-text-transform: uppercase;

    --wertgarantie-confirmation-body-subtitle-font-weight: 800;
    --wertgarantie-confirmation-body-subtitle-font-size: 0.9em;
    --wertgarantie-confirmation-body-subtitle-text-transform: none;

    --wertgarantie-confirmation-product-tab-background-color-hover: #1bff00;
    --wertgarantie-confirmation-product-tab-background-color-selected: #1bff00;

    --wertgarantie-confirmation-product-panel-text-color: #e7e7e7;
    --wertgarantie-confirmation-product-background-primary: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #000),
    linear-gradient(to top right, #3a00ff, rgba(81, 61, 61, 0));
    --wertgarantie-confirmation-product-background-secondary: linear-gradient(to bottom right, rgba(44, 25, 25, 0), rgb(0, 255, 179)),
    linear-gradient(to top right, #000, rgba(0, 0, 0, 0.3));
}