.example-theme1{
    --wertgarantie-selection-font-family: qtype, Helvetica, Arial, sans-serif;

    --wertgarantie-selection-container-max-width: 570px;
    --wertgarantie-selection-container-font-weight: 400;
    --wertgarantie-selection-container-font-size: 15px;
    --wertgarantie-selection-container-text-color: #21314d;
    --wertgarantie-selection-container-background-color: rgb(242, 242, 242);
    
    /* header-section */
    --wertgarantie-selection-head-section-text-color: #84bc34;
    --wertgarantie-selection-head-section-background-image: linear-gradient(to right, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));

    /* header */
    --wertgarantie-selection-title-font-family: qtype, Helvetica, Arial, sans-serif;
    --wertgarantie-selection-title-font-weight: 800;
    --wertgarantie-selection-title-font-size: 15px;
    --wertgarantie-selection-title-text-transform: uppercase;

    /* show details button */
    --wertgarantie-selection-show-details-button-font-size: 12px;
    --wertgarantie-selection-show-details-button-font-weight: 400;
    --wertgarantie-selection-show-details-button-text-color: var(--wertgarantie-selection-container-color);
    --wertgarantie-selection-show-details-button-arrow-color: #84bc34;

    /* advantages */
    --wertgarantie-selection-advantage-included-text-color: var(--wertgarantie-selection-container-color);
    --wertgarantie-selection-advantage-excluded-text-color: #f2f2f2;
    --wertgarantie-selection-advantage-margin: 0 0 0 0;
    --wertgarantie-selection-advantage-font-size: 12px;
    --wertgarantie-selection-advantage-included-icon-color: #84bc34;
    --wertgarantie-selection-advantage-excluded-icon-color: lightgrey;

    /* links */
    --wertgarantie-selection-product-info-link-color: #84bc34;

    /* selection button header color */
    --wertgarantie-selection-button-header-color: #84bc34;
}


.example-theme2 {
    --wertgarantie-selection-container-max-width: 500px;
    --wertgarantie-selection-container-font-weight: 400;
    --wertgarantie-selection-container-font-size: 15px;
    --wertgarantie-selection-container-text-color: #292929;
    --wertgarantie-selection-container-background-color: rgb(235, 233, 233);
    
    /* header-section */
    --wertgarantie-selection-head-section-background-image: linear-gradient(to right, rgba(183, 2, 2, 1), rgba(183, 2, 2, 0.65));
    --wertgarantie-selection-head-section-text-color: white;

    /* header */
    --wertgarantie-selection-title-font-family: qtype, Helvetica, Arial, sans-serif;
    --wertgarantie-selection-title-font-weight: 200;
    --wertgarantie-selection-title-font-size: 18px;
    --wertgarantie-selection-title-text-transform: uppercase;

    --wertgarantie-selection-show-details-button-font-size: 12px;
    --wertgarantie-selection-show-details-button-font-weight: 100;

    /* advantages */
    --wertgarantie-selection-advantage-included-text-color: var(--wertgarantie-selection-container-text-color);
    --wertgarantie-selection-advantage-excluded-text-color: lightgrey;
    --wertgarantie-selection-advantage-margin: 0 0 0 0;
    --wertgarantie-selection-advantage-font-size: 15px;
    --wertgarantie-selection-advantage-included-icon-color: var(--wertgarantie-selection-container-text-color);
    --wertgarantie-selection-advantage-excluded-icon-color: lightgrey;

    /* links */
    --wertgarantie-selection-product-info-link-color: #b70202;

    /* selection button header color */
    --wertgarantie-selection-button-header-color: #b70202;

}