$textColor: var(--wertgarantie-rating-text-color, #2574be);

$starsColor: var(--wertgarantie-rating-stars-color, #ee8a18);
$starsFontSize: var(--wertgarantie-rating-stars-font-size, inherit);

$fontWeight: var(--wertgarantie-rating-font-weight, 400);
$fontFamily: var(--wertgarantie-rating-font-family, Roboto);
$fontSize: var(--wertgarantie-rating-font-size, 16px);