wertgarantie-selection-embedded {
  --wertgarantie-selection-embedded-component-product-selected-color: #af131a;
  --wertgarantie-selection-embedded-component-product-border-radius: disabled;
  --wertgarantie-selection-embedded-component-product-name-transform: none;
  --wertgarantie-selection-embedded-component-footer-text-transform: none;
}

