wertgarantie-confirmation {
    --wertgarantie-confirmation-header-background-color: #495057;
    --wertgarantie-confirmation-header-icon-background-color: #cc3333;
    --wertgarantie-confirmation-header-title-color: white;
    --wertgarantie-confirmation-font-family: 'Roboto', sans-serif;
    --wertgarantie-confirmation-font-color: #505050;
    --wertgarantie-confirmation-component-margin: 0 0 15px 0;
    --wertgarantie-confirmation-box-border-right: none;
    --wertgarantie-confirmation-box-border-left: none;
    --wertgarantie-confirmation-box-border-top: none;
    --wertgarantie-confirmation-box-border-bottom: 2px dotted #ddd;
    --wertgarantie-confirmation-box-background-color: #323232;
    --wertgarantie-confirmation-box-title-padding: 1.5rem 0;
    --wertgarantie-confirmation-box-title-color: white;
    --wertgarantie-confirmation-box-title-margin: 2rem;
    --wertgarantie-confirmation-info-padding: 1rem;
    --wertgarantie-confirmation-checkbox-column-padding: 0 0 0 0;
    --wertgarantie-confirmation-header-margin: 20px 0 0 0;
    --wertgarantie-confirmation-product-panel-margin: 0 0 0 15px;
    /* --wertgarantie-confirmation-product-tab-background-color-hover: #d3d3d3; */
    /* --wertgarantie-confirmation-product-tab-background-color-selected: #495057; */

    --wertgarantie-confirmation-product-background-primary: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #000),
    linear-gradient(to top right, #b7b7b7, #495057);
    --wertgarantie-confirmation-product-background-secondary: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #000),
    linear-gradient(to top right, #b7b7b7, #495057);
}

