wertgarantie-after-sales {
    --wertgarantie-after-sales-header-icon-background-color: #7cb126;
    --wertgarantie-after-sales-header-title-background-color: #7cb126;
    --wertgarantie-after-sales-border: rgb(235,235,235) solid 2px;
    --wertgarantie-after-sales-margin: 0 0 50px 0;
    --wertgarantie-after-sales-body-background-color: white;
    --wertgarantie-after-sales-header-title-color: white;

}