.mobilcom-theme {
    --wertgarantie-selection-font-family: "Open Sans", sans-serif;

    /* container  */
    --wertgarantie-selection-container-background-color: white;
    --wertgarantie-selection-container-max-width: 800px;
    --wertgarantie-selection-container-padding: 0 0 0 0;
    --wertgarantie-selection-container-font-weight: 400;
    --wertgarantie-selection-container-font-size: 13px;
    --wertgarantie-selection-container-color: #21314d;
    --wertgarantie-selection-container-line-height: 22px;

    /* header */
    --wertgarantie-selection-h2-font-family: qtype, Helvetica, Arial, sans-serif;
    --wertgarantie-selection-h2-padding: 10px 0 0 0;
    --wertgarantie-selection-h2-font-weight: 800;
    --wertgarantie-selection-h2-font-size: 26px;
    --wertgarantie-selection-h2-line-height: 31px;
    --wertgarantie-selection-h2-color: #84bc34;

    /* list elements */
    --wertgarantie-selection-li-margin: 0 0 8px 0;
    --wertgarantie-selection-li-font-size: 16px;
    --wertgarantie-selection-icon-color: #84bc34;

    /* links */

    /* checkbox */
    --wertgarantie-selection-checkbox-color: #21314d;

}