<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="rating.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Rating</title>
</head>
<body>
<div class="info-box">
    <h2> Vergessen Sie nicht Ihren Rundumschutz</h2>
    <ul>
        <li>
            <i class="fa fa-check"></i>
            <wg-rating data-text="2.557 Google-Rezensionen" data-rating="2.4" data-url="http://www.innoq.com">
            </wg-rating>
        </li>
        <li>
            <i class="fa fa-check"></i>
            Schutz bei Displaybrüchen
        </li>
        <li>
            <i class="fa fa-check"></i>
            Schutz bei Wasserschaden
        </li>
        <li>
            <i class="fa fa-check"></i>
            Schutz bei Akku-Defekten
        </li>

        <li>
            <a>
                <i class="fas fa-plus">
                </i>
                Alle Details zum Tarif
            </a>
        </li>
        <li>
            <a>
                <i class="far fa-file-pdf">
                </i>
                Produktinformationsblatt
            </a>
        </li>
    <div class="checkbox">
        <input type="checkbox" id="order">
        <label for="order">Schutzpaket Premium für nur mtl. 9,95 € aktivieren</label>
    </div>
    </ul>
</div>
</body>
<script src="rating.js"></script>
</html>