.wg-rating-theme1 {
    --wertgarantie-rating-font-family: "Open Sans", sans-serif;
    --wertgarantie-rating-font-size: 12px;
    --wertgarantie-rating-text-color: #21314d;
}

.wg-rating-theme2 {
    --wertgarantie-rating-font-family: "Open Sans", sans-serif;
    --wertgarantie-rating-font-size: 10px;
    
    --wertgarantie-rating-stars-font-size: 15px;
    --wertgarantie-rating-stars-color: orange;

    --wertgarantie-rating-text-color: white;

}

wg-rating-theme3 {
    --wertgarantie-rating-font-family: "Open Sans", sans-serif;
    --wertgarantie-rating-text-color: #2574be;
    
    --wertgarantie-rating-stars-font-size: 15px;
    --wertgarantie-rating-stars-color: orange;
}

.default {
    --wertgarantie-rating-font-family: "Open Sans", sans-serif;
    --wertgarantie-rating-font-size: 0.7rem;
    --wertgarantie-rating-text-color: rgb(134, 134, 134);
    
    --wertgarantie-rating-stars-font-size: 15px;
    --wertgarantie-rating-stars-color: orange;
}


.example {
    --wertgarantie-rating-font-family: "Comic Sans MS", sans-serif;
    --wertgarantie-rating-font-size: 1.8rem;
    --wertgarantie-rating-font-weight: 800;
    --wertgarantie-rating-text-color: rgb(134, 134, 134);
    
    --wertgarantie-rating-stars-font-size: 30px;
    --wertgarantie-rating-stars-color: green;
}