.mobilcom-wg-rating-theme {
    --wertgarantie-rating-font-family: "Open Sans", sans-serif;
    --wertgarantie-rating-font-size: 12px;
    --wertgarantie-rating-number-color: #21314d;
}

.jura-wg-rating-theme {
    --wertgarantie-rating-font-family: "Open Sans", sans-serif;
    --wertgarantie-rating-font-size: 10px;
    
    --wertgarantie-rating-stars-font-size: 15px;
    --wertgarantie-rating-stars-color: orange;

    --wertgarantie-rating-link-color: white;

}

.default {
    --wertgarantie-rating-font-family: "Open Sans", sans-serif;
    --wertgarantie-rating-font-size: 1.1em;
    
    --wertgarantie-rating-stars-font-size: 15px;
    --wertgarantie-rating-stars-color: orange;
    
    --wertgarantie-rating-link-color: rgb(134, 134, 134);

}